# Ignore dataset folders
DAVIS/
MOSE/
SeCVOS/

# Ignore output folder
outputs/

# Ignore sam2_logs folder (Contains finetuned chekcpoints and such)
sam2_logs/

sam2_logs.zip

# Ignore Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Ignore temporary and system files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore temporary files from editors
*.swp
*.swo

# Ignore temp files starting with 'temp_' and ending with '.txt'
temp_*.txt

# Ignore images and csv files
*.csv
*.png